/* General styling */
a {
    color: #749c5f;
}

html {
    font-size: xx-large;
}

.blinking-text {
    /* animation, animation-duration, animation-timing-function, animation-fill-mode */
    animation: typing 2s steps(30, end) forwards,
               blinking-cursor 1s infinite;
    border-right: 2px solid;
    max-width: fit-content;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    /* based on https://blog.hubspot.com/website/typing-animation-css */
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking-cursor {
    0% {border-right-color: transparent}
    50% {border-right-color: black}
    100% {border-right-color: transparent}
}

@media screen and (max-width:900px) {
    html {
        font-size: medium;
    }
    .blinking-text {
        animation: none;
        border-right: none;
        max-width: 100%;
        overflow: hidden;
        white-space: normal;
    }
}

/* Main page */
.special-green {
    color: #749c5f;
    /* color for dark mode: #48782e; */
    font-weight: bold;
}


/* Officers page */


/* Resources page */
.resource-description{
    text-indent: 2em;
    font-size: smaller;
}


/* Socials page */
#socials-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

#socials-image {
    flex-grow: 0;
}
