/* General styling */
a {
    color: #749c5f;
}

html {
    font-size: xx-large;
}

.blinking-text {
    /* animation, animation-duration, animation-timing-function, animation-fill-mode */
    animation: typing 2s steps(30, end) forwards,
               blinking-cursor 1s infinite;
    border-right: 2px solid;
    max-width: fit-content;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    /* based on https://blog.hubspot.com/website/typing-animation-css */
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking-cursor {
    0% {border-right-color: transparent}
    50% {border-right-color: black}
    100% {border-right-color: transparent}
}


/* Main page */
.special-green {
    color: #749c5f;
    /* color for dark mode: #48782e; */
    font-weight: bold;
}


/* Officers page */
#all-officers-container {
    align-items:  center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:  flex-start;
}

.officer {
    align-items: center;
    column-gap: 0.875rem;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    overflow: auto;
}

.officer-img {
    max-width: 100%;
}

.officer-name {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.officer-position {
    margin-top: 0em;
    margin-bottom: 0.25em;
}


/* Resources page */
.resource-description{
    font-size: smaller;
    text-indent: 2em;
}


/* Socials page */
#socials-container {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
}

#socials-image {
    flex-grow: 0;
    height: auto;
    max-width: 100%;
}

/* Volunteer page */
#all-volunteer-container {
    align-items:  center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:  flex-start;
}

.volunteer {
    align-items: center;
    column-gap: 0.875rem;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    overflow: auto;
}

.volunteer-img {
    max-width: 100%;
}

.volunteer-name {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.volunteer-position {
    margin-top: 0em;
    margin-bottom: 0.25em;
}

/* Awards & Funding page */
#all-award-container {
    align-items: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.award {
    align-items: center;
    column-gap: 0.875rem;
    display: flex;
    flex-direction: row;
    font-size: smaller;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
    overflow: auto;
}

.award-img {
    max-width: 100%;
}

.award-name {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

.award-position {
    margin-top: 0em;
    margin-bottom: 0.25em;
}

/* For small screens */
@media screen and (max-width:900px) {
    html {
        font-size: medium;
    }
    .blinking-text {
        animation: none;
        border-right: none;
        max-width: 100%;
        overflow: hidden;
        white-space: normal;
    }
    .officer {
        flex-wrap: wrap;
    }
}
